/* Imports custom fonts for our website from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');


/*stying for logo next to nav bar*/
.btn-transparent {
    background: transparent;
    border: none;
    outline: none;
    padding: 3px;
    margin: 3px;
    color: white; /* Setting the text color to white */
    font: 16px;
}

.btn-transparent:hover, .btn-transparent:focus {
    background: transparent;
    color: white; /* Ensure text remains white on hover/focus */
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
}


/* Styles the main header image on our website, ensuring it fits well, is centered, and has visible accompanying text. */
.masthead {
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    position: relative;
    color: black;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.3);
}

/* Styles the main title (h1) appearing over the masthead, centering it and making it prominent. */
h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: -0.2rem;
    position: absolute;
    width: 100%;  
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
}

/* Adjustments to the masthead and title for smaller screens like tablets and smartphones. */
@media (max-width: 992px){
    .masthead {
        min-height: 30vh;
    }
    h1 {
        font-size: calc(1.5rem + 3.3vw);
    }
}

/* Sets the font and alignment for secondary and tertiary headers on our website. */
h2,h3 {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    text-align: center;
    /*color: rgb(51, 152, 127);*/
    padding: 0 20px;
}
h3 {
    padding: 20px;
}

/* Adjusts the font size for navigation links on our website. */
.navbar-nav .nav-link {
    font-size: 16px; 
}

/* Adjusts the font size for navigation links on smaller screens. */
@media (max-width: 991px) {
    .navbar-nav .nav-link {
        font-size: 18px;
    }
}

/* Styles the icons on our website, centering them and giving them a specific size. */
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 75px;
    margin-bottom: 10px;
}

/*outer-container, inner-container and figure-container mainly controls spacing (padding & margin)*/
/* Mobile styles (default) */
.outer-container {
    border: 2px solid rgba(218, 223, 222, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.inner-container {
    margin: 0 5px; 
}

.figure-container {
    align-items: flex-start; /* aligns items to the top */
    height: auto; /* prevents stretching */
}

.figure-container figure {
    margin: 0; /* removes any default margins */
}

.figure-container img {
    display: block; /* removes any bottom space caused by inline display */
    max-width: 100%; /* ensures the image doesn't stretch horizontally */
    height: auto; /* ensures the image keeps its original aspect ratio */
}
.text-container {
    padding: 2px; /* slightly larger padding for mobile */
   /* background-color: #f8f9fa; /* equivalent to bg-light */
    /*border-radius: .25rem; /* equivalent to rounded */
    /*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); /* equivalent to shadow */
}
/* Styles for screens 992px and above (laptop and larger screens) */
@media (min-width: 992px) {
    .outer-container {
        padding: 20px;
    }

    .inner-container {
        margin: 15px;
    }

    .figure-container,.text-container {
        padding: 20px;
    }
}


/* Ensures content flows naturally and doesn't overlap. */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Images to take 50% of provided column space. used in Our Story.*/
@media (min-width: 992px) { /* Bootstrap's 'lg' breakpoint */
    .half-width-lg {
        width: 50% !important; /* Override the Bootstrap img-fluid class */
    }}

/* Styles the testimonials section on our 'Our Story' page, providing a distinct background and shape. */
.testimonial-container {
    background-color: #e8f9e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 0 auto;
}
.testimonial-image {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
}
.carousel-inner .carousel-item {
    height: auto !important;
    overflow: visible !important;
}

/* Adds more styles to the testimonials section, ensuring a smooth user experience even if content overflows. */
.testimonial-container {
    overflow: auto;
    max-height: 90vh;
}

/* Styles the carousel controls on our website, ensuring a consistent and visible appearance. */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: darkgray !important;
}

/* Styles the carousel indicators (dots) and makes the active slide's dot stand out. */
.carousel-indicators button {
    background-color: darkgray !important;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}
.carousel-indicators .active {
    background-color: black !important;
}

/* Styles the accordion (collapsible content) headers and buttons on our website. */
.accordion-header {
    margin:0;
    padding:0;
}
.accordion-button:not(.collapsed) {
    background-color: rgb(193, 238, 226);
}
.accordion-item {
    border-color: rgba(51, 152, 127, 0.5);
}
.accordion-button:focus {
    border-color: rgba(51, 152, 127, 0.5);
}

/* Provides styling for article rows on our website, giving them a distinct appearance. */
.article-row {
    padding: 50px;
    margin: 50px;
    background-color: #f5f5f5;
}

/* Styles the newsletter button on our website, ensuring it stands out and is centered. */
.newsletter_button {
    width: 150px;
    text-align: center;
}

/* Styles custom buttons, links, and book details on our 'Resource' page. */
.btn.custom-btn {
    background-color: #f8f9fa !important;
    border-color: rgb(51, 152, 127) !important;
    color: #232628 !important; 
}
.btn.custom-btn:hover, .btn.custom-btn:focus {
    background-color: rgb(51, 152, 127) !important;
    color: #fff !important;
}
div.p-3 a {
    color: #000;
}
div.p-3 a:hover {
    color: #555;
}
.book-title {
    font-size: 22px;
}
.book-author {
    font-size: 20px;
    font-style: italic;
}

/* Styles the video display on our 'Newsletter' page, ensuring videos fit the width of their container. */
.video-container video {
    width: 100%;
    height: auto;
    display: block;
}

/* Styles the category filter buttons on our 'Newsletter' page, ensuring the selected category is highlighted. */
.btn-custom-selected {
    background-color: #fff !important;
    border-color: rgb(51, 152, 127) !important;
    color: #555 !important;
}
.btn-custom-selected:hover {
    background-color: rgba(51, 152, 127, 0.8) !important;
    color: #fff !important;
}

/* Styles the containers and quotes on our 'Contact Us' & 'Dream Home' pages, ensuring a neat and attractive layout. */

.quote-container {
    position: relative;
    overflow: hidden;
}
.quote-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
.quote-content {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    width: 80%;
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.quote-text {
    font-size: 15px;
    line-height: 1;
}
.quote-author {
    margin-top: 8px;
    font-size: 12px;
    font-style: italic;
}

/* Provides a custom green text color for elements in our website footer. */
.text-custom-green {
    color: rgb(159, 244, 223) !important;
}
/* When Footer is highlighted, to check visual accessibility, footer change styling when focus*/
.footer-button:focus {
    outline: 2px solid #00FF00; /* This will give a bright green outline */
    background-color: rgba(0, 255, 0, 0.1); /* This will give a slight green tint as a background */
}
/*change to slightly lighter color when hover*/
.footer-button {
    background-color: #343a40; /* Bootstrap's bg-dark color */
    color: white; /* Text color */
    border: none; /* Remove default button borders */
}

.footer-button:hover,
.footer-button:focus {
    background-color: #2d3236; /* Slightly lighter than bg-dark */
}
